body {
    margin: 0;
    font-family: Roboto, sans-serif
}

.section-1 {
    background-color: #1F2937;
    padding: 0 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a,
.hero-subtext {
    color: #e5e7ebe3;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-content {
    display: flex;
    padding: 100px 0;
    justify-content: center;
    gap: 32px;
}

.header-content-right,
.header-content-left {
    width: 450px;
    flex-shrink: 0;
}

.header-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: rgb(121, 121, 121)
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 8px;
}

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.info-header {
    padding: 32px;
    font-size:36px;
    color:#1F2937;
    font-weight: 900;
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    gap: 48px;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid rgb(0, 116, 194);
    border-radius: 16px;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    text-align: center;
    color:rgb(87, 87, 87)
}

.section-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

.quote {
    font-size: 36px;
    color:rgba(31, 41, 55, 0.596);
    font-style: italic;
    width: 825px;
    font-weight: lighter;
}

.quote-ee {
    width: 775px;
    text-align: right;
    font-weight: bold;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.cta-box {
    background-color: #3882F6;
    border-radius: 8px;
}

.cta-content {
    display: flex;
    justify-content: space-between;
    padding: 40px 96px;
    color: #F9FAF8;
    gap: 132px;
}

.cta-main-text {
    font-weight: 900;
    font-size: 24px;
}

.cta-subtext {
    font-size: 18px;
    color:rgba(249, 250, 248, 0.87)
}

.cta-content-right button {
    border: 2px solid white;
}